
<h1 class="title">Clash Mash</h1>
<hr>
<section class="row">
	<article class="what col-md-4 col-xs-4">Clash Mash allows clans to interact with one another while at war. Think that attack was awesome? Let your opponent know. Looking to swap members? Use Clash Mash to facilitate the migration. Clash Mash allows clashers to communicate in ways they've never been able to in the past.</article>
	<article class="signin col-md-4 col-xs-4">
		<form id="join" ng-submit="hc.sendToDb()" name="hc.join">
			<input type="text" ng-model="hc.clanID" placeholder="Clan ID" required>
			<input type="text" ng-model="hc.username" placeholder="Username" required>
			<input type="password" ng-model="hc.pword" placeholder="Password" required>
			<input type="submit"  value="Enter">
		</form>
	</article>
	<article class="why col-md-4 col-xs-4">
		<ol>
			<li>Sign up for Clash Mash</li>
			<li>Join the Clash Mash</li>
			<li>Enjoy the Clash Mash</li>
		</ol>
	</article>
	<a ng-href="#clashRoom">Mash</a>
	
</section>
<hr>
{{hc.original}}

