/* font-family: 'Rock Salt', cursive;
font-family: 'Coiny', cursive; */
html, body {
	padding: 1em;
	background-color: orange;
}

.title {
	text-align: center;
	font-size: 5em;
	margin: 5vh 0 6vh 0;
	font-family: 'Rock Salt', cursive, sans-serif;
}

.what, .why {
	font-family: 'Rock Salt', cursive, sans-serif;
	padding: 0.6em;
	font-weight: 700;
	font-size: 1.3em;
	text-align: center;
	border-radius: 3px;
	height: auto;
}

.what {
	font-size: 103%;
	letter-spacing: 2px;
}

.why ol {
}

.why ol li {
	margin-top: 1em;
	padding: 0 0 0 0;
}

#join {
	text-align: center;
}

#join input {
	text-align: center;
	margin: 0 0 2vh 0;
	font-size: 1.1em;
	border-radius: 3px;
	height: 5vh;
	border: 1px solid #333;
	width: 80%;
	font-family: 'Rock Salt', cursive, sans-serif;
}

input[type="submit"] {
	background-color: royalblue;
}

input[type="submit"]:hover {
	background-color: blue;
	color: white;
}

.signin {
	padding: 1.5em 0em 0em 0em;
}

hr {
	border: 1px solid #333;
	border-radius: 1px;
}